<div class="container">
  <h1 class="title"><%= @location.name %></h1>
    
    <div class="record_container">
      <div class="record">
        <p>Street: <%= @address.street%></p>
        <p>City: <%= @address.city %></p>
        <p>State: <%= @address.state%></p>
        <p>ZIP: <%= @address.zip%></p>
      </div>  
    </div>
    <%= link_to "Edit Location Name", edit_trip_location_path(@location.trip_id, @location, @address) %>
    <br />
    <%= link_to "Edit Address", edit_location_address_path(@location, @address) %>
    <br />
    <%= link_to 'New Address', new_location_address_path(@location) %>
    <br />
    <%= link_to 'Delete Address', [@location, @address], method: :delete %>
</div>
