<h1> <%= @location.id ? 'Edit Location' : 'New Location'%> </h1>
<br />
<%= form_for [@trip, @location] do |a| %>
  <%= a.label :name%>
  <%= a.text_field :name, required: true%>
  <%= a.label :city%>
  <%= a.text_field :city, required: true%>
  <%= a.label :state%>
  <%= a.text_field :state, required: true%>
  <%= a.label :zip, required: true%>
  <%= a.submit %>
<% end %>