<h1> Create New Location </h1>
<br />
<%= form_for [@trip, @location] do |l| %>

      <%= l.label :name%>
      <%= l.text_field :name, required: true%>

      <%= l.label :city%>
      <%= l.text_field :city, required: true%>

      <%= l.label :state%>
      <%= l.text_field :state, required: true%>

  <%= l.submit %>
<% end %>
